<!--page "/alunos/cadastrar"
@inherits CreateAlunoPage

<MudContainer MaxWidth="MaxWidth.Medium">
    <MudText Typo="Typo.h4" Class="mt-10 mb-6">Novo Aluno</MudText>

    <EditForm Model="@InputModel" Context="AlunoForm" OnValidSubmit="OnValidSubmitAsync">
        <MudPaper Class="pa-8" Outlined="true">
            <ObjectGraphDataAnnotationsValidator />
            <DataAnnotationsValidator />

            <MudTextField Label="Nome"
                          HelperText="Campo obrigatório"
                          @bind-Value="InputModel.Nome"
                          For="@(() => InputModel.Nome)" />

            <MudTextField Label="CPF"
                          Mask="@(new PatternMask("000.000.000-00"))"
                          HelperText="Campo obrigatório"
                          @bind-Value="InputModel.Cpf"
                          For="@(() => InputModel.Cpf)" />

            <MudTextField Label="RG"
                          HelperText="Digite seu RG"
                          @bind-Value="InputModel.Rg"
                          For="@(() => InputModel.Rg)" />
                          
            <MudRadioGroup @bind-Value="@SelectedOption">
                <MudRadio Value="Telefone">Telefone</MudRadio>
                <MudRadio Value="Celular">Celular</MudRadio>
            </MudRadioGroup>
            
            @if (SelectedOption == "Telefone")
            {
                <MudTextField Label="Telefone"
                              Mask="@(new PatternMask("(00) 0000-0000"))"
                              HelperText="Digite um telefone para contato"
                              @bind-Value="InputModel.Telefone" 
                              For="@(() => InputModel.Telefone)"/>
            }
            else if (SelectedOption == "Celular")
            {
                <MudTextField Label="Celular"
                              Mask="@(new PatternMask("(00) 00000-0000"))"
                              HelperText="Digite um celular para contato"
                              @bind-Value="InputModel.Telefone" 
                              For="@(() => InputModel.Telefone)"/>
            }
            

            <MudTextField Label="Email"
                          HelperText="Digite um email para contato"
                          @bind-Value="InputModel.Email" 
                          For="@(() => InputModel.Email)"/>

            <MudTextField Label="Assinatura"
                          HelperText="Inclua uma assinatura"
                          @bind-Value="InputModel.Assinatura" 
                          For="@(() => InputModel.Assinatura)"/>

            <div class="form-group">
                <label for="empresa">Empresa:</label>
                <input type="text" class="form-control" @bind="StringEmpresa" @oninput="OnInputChanged" placeholder="Digite o nome da empresa"/>
                <ul class="suggestions" style="list-style-type: none; padding-left: 0;">
                    @foreach (var empresa in EmpresasFilter)
                    {
                        <li value="@empresa.Id">@empresa.RazaoSocial</li>
                    }
                </ul>
            </div>

        </MudPaper>

        <MudButton ButtonType="ButtonType.Submit"
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   Class="mt-8 mb-10">
            Cadastrar
        </MudButton>
    </EditForm>
</MudContainer>-->


<!-- <MudTextField DebounceInterval="100"
    OnDebounceIntervalElapsed="HandleIntervalElapsed"
@bind-Value="StringEmpresa"
    HelperText="Selecione uma empresa"
    Label="Empresas"
    Variant="Variant.Outlined"
    Adornment="Adornment.End"
    AdornmentIcon="@Icons.Material.Filled.Search" />
<label>Empresa:</label>
<select class="form-control" @bind="InputModel.EmpresaId">
    <option>Selecione uma empresa</option>
foreach (var empresa in EmpresasFilter)
{
        <option value="empresa.Id">empresa.RazaoSocial</option>
}
</select> -->

