@page "/empresas/cadastrar"
@inherits CreateEmpresaPage

<MudContainer MaxWidth="MaxWidth.Medium">
    <MudText Typo="Typo.h4" Class="mt-10 mb-6">Nova Empresa</MudText>

    <EditForm Model="@InputModel" Context="EmpresaForm" OnValidSubmit="OnValidSubmitAsync">
        <MudPaper Class="pa-8" Outlined="true">
            <ObjectGraphDataAnnotationsValidator />
            <DataAnnotationsValidator />
            <MudTextField Label="Razão Social"
                          HelperText="Campo obrigatório"
                          @bind-Value="InputModel.RazaoSocial"
                          For="@(() => InputModel.RazaoSocial)" />

            <MudTextField Label="CNPJ"
                Mask="@(new PatternMask("00.000.000/0000-00"))"
                          HelperText="Campo obrigatório"
                          @bind-Value="InputModel.CNPJ"
                          For="@(() => InputModel.CNPJ)" />

            <MudTextField Label="Email"
                          HelperText="Digite um email para contato"
                          @bind-Value="InputModel.Email"
                          For="@(() => InputModel.Email)" />

                <div class="d-fles justify-start">
                    <MudTextField Label="Telefones"
                              Mask="@(new PatternMask("(00) 00000-0000"))"
                              HelperText="Digite um telefone para contato"
                              @bind-Value="Telefone" />
                </div>
                <div class="d-flex justify-start">
                    <div>
                        <MudButton @onclick="AddTelefone" 
                                   Variant="Variant.Filled"
                                   Color="Color.Secondary"
                                   Class="mt-8 mb-10"
                                   Size="Size.Small" >
                            Adicionar
                        </MudButton>
                    </div>
                    <MudContainer>
                        <div class="d-flex justify-end">
                            @if(InputModel.Telefones.Count == 0)
                            {
                                <p></p>
                            }
                            else
                            {
                                <h3>Telefones</h3>
                                @foreach(var tel in InputModel.Telefones)
                                {
                                    <MudText Typo="Typo.h4">@tel.NroTelefone</MudText>
                                }
                            }
                        </div>
                    </MudContainer>
                </div>

        </MudPaper>

        <MudText Typo="Typo.h5" Class="mt-10 mb-6">Endereço</MudText>
        <MudPaper Class="pa-8 mt-4" Outlined="true">

            <MudTextField Label="CEP"
                          Mask="@(new PatternMask("00000-000"))"
                          HelperText="Campo obrigatório"
                          @bind-Value="InputModel.Endereco.CEP"
                          For="@(() => InputModel.Endereco.CEP)" />

            <MudTextField Label="Rua"
                          HelperText="Campo obrigatório"
                          @bind-Value="InputModel.Endereco.NomeRua"
                          For="@(() => InputModel.Endereco.NomeRua)" />

            <MudTextField Label="Número"
                          HelperText="Campo obrigatório"
                          @bind-Value="InputModel.Endereco.Numero"
                          For="@(() => InputModel.Endereco.Numero)" />

            <MudTextField Label="Bairro"
                          HelperText="Campo obrigatório"
                          @bind-Value="InputModel.Endereco.Bairro"
                          For="@(() => InputModel.Endereco.Bairro)" />

            <MudTextField Label="Complemento"
                          HelperText="Campo obrigatório"
                          @bind-Value="InputModel.Endereco.Complemento"
                          For="@(() => InputModel.Endereco.Complemento)" />

            <MudSelect T="string"
                       Label="Estado"
                       @bind-Value="InputModel.Endereco.Estado"
                       AnchorOrigin="Origin.BottomCenter">
                @foreach (var estado in EstadosCidades.Keys)
                {
                    <MudSelectItem T="string" Value="@estado">
                        @estado
                    </MudSelectItem>
                }
            </MudSelect>

            <MudSelect T="string"
                       Label="Cidade"
                       @bind-Value="InputModel.Endereco.Cidade"
                       AnchorOrigin="Origin.BottomCenter">
                @foreach (KeyValuePair<string, List<string>> item in EstadosCidades)
                {
                    @if (InputModel.Endereco.Estado == item.Key)
                    {
                        @foreach (var cidade in item.Value)
                        {
                            <MudSelectItem T="string" Value="@cidade">
                                @cidade
                            </MudSelectItem>
                        }
                    }

                }
            </MudSelect>
        </MudPaper>

        <MudButton ButtonType="ButtonType.Submit"
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   Class="mt-8 mb-10">
            Cadastrar
        </MudButton>
    </EditForm>
</MudContainer>
-->
