@page "/empresas"
@inherits GetAllEmpresasPage

<MudContainer MaxWidth="MaxWidth.Large">
    <MudText Typo="Typo.h4" Class="mt-10 mb-6">Empresas</MudText>
    <div class="d-flex justify-end">
        <MudButton Size="@Size.Medium" Href="/empresas/cadastrar" Color="@Color.Success" StartIcon="@Icons.Material.Filled.AddCircleOutline" Class="add-item-btn">Adicionar empresa</MudButton>
    </div>

    <MudDataGrid T="Empresa" 
        Class="mt-1 mb-15" 
        Items="@Empresas" 
        Filterable="true"
        QuickFilter="@_quickFilter"
        Bordered="true">
        <Columns>
            <TemplateColumn StickyLeft="true" Filterable="false" Sortable="false">
                <CellTemplate>
                    <MudGrid Justify="@Justify.Center">
                        <MudIconButton 
                            Size="@Size.Small"
                            Icon="@Icons.Material.Filled.Edit" 
                            Color="Color.Info" 
                            Href="@($"/empresas/editar/{context.Item.Id}")" />
                    </MudGrid>
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x=>x.CNPJ" Title="CNPJ" />
            <PropertyColumn Property="x=>x.RazaoSocial" Title="Razão Social" />
            <PropertyColumn Property="x=>x.Email" Title="Email" />
            <PropertyColumn Property="x=>x.TelefonesEmpresa" Title="Telefones" />
            <PropertyColumn Property="x=>x.DataCriacao" Title="Data de Criação" />
            <TemplateColumn StickyRight="true" Filterable="false" Sortable="false">
                <CellTemplate>
                    <MudGrid Justify="@Justify.Center">
                        <MudIconButton Size="@Size.Small"
                            Icon="@Icons.Material.Filled.Delete"
                            Color="Color.Error"
                            OnClick="() => OnDeleteButtonActive(context.Item.Id, context.Item.RazaoSocial)" />
                    </MudGrid>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
        <PagerContent>
            <MudDataGridPager T="@Empresa" />
        </PagerContent>
    </MudDataGrid>

</MudContainer>