@page "/provas"
@inherits GetAllProvaPage

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudText Typo="Typo.h4" Class="mt-10 mb-6">Prova</MudText>
    <div class="d-flex justify-end">
        <MudButton Size="@Size.Medium" Href="/provas/cadastrar" Color="@Color.Success" StartIcon="@Icons.Material.Filled.AddCircleOutline" Class="add-item-btn">Adicionar Prova</MudButton>
    </div>

    <MudDataGrid T="Prova" 
        Class="mt-1 mb-15" 
        Items="@Provas" 
        Filterable="true"
        QuickFilter="@_quickFilter"
        Bordered="true">
        <Columns>
            <TemplateColumn StickyLeft="true" Filterable="false" Sortable="false">
                <CellTemplate>
                    <MudGrid Justify="@Justify.Center">
                        <MudIconButton 
                            Size="@Size.Small"
                            Icon="@Icons.Material.Filled.Edit" 
                            Color="Color.Info" 
                            Href="@($"/provas/editar/{context.Item.Id}")" />
                    </MudGrid>
                </CellTemplate>
            </TemplateColumn>
            <TemplateColumn Title="Curso">
                <CellTemplate>
                    @(context.Item.Curso?.Nome ?? "N/A")
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x=>x.DataCriacao" Title="Data de Criação" />
            <TemplateColumn StickyRight="true" Filterable="false" Sortable="false">
                <CellTemplate>
                    <MudGrid Justify="@Justify.Center">
                        <MudIconButton Size="@Size.Small"
                            Icon="@Icons.Material.Filled.Delete"
                            Color="Color.Error"
                            OnClick="() => OnDeleteButtonActive(context.Item.Id, context.Item.Curso.Nome)" />
                    </MudGrid>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
        <PagerContent>
            <MudDataGridPager T="@Prova" />
        </PagerContent>
    </MudDataGrid>

</MudContainer>