@page "/cursos/cadastrar"
@inherits CreateCursoPage

<MudContainer MaxWidth="MaxWidth.Medium" >
    <MudText Typo="Typo.h4" Class="mt-10 mb-6">Novo Curso</MudText>

    <EditForm Model="@InputModel" Context="EmpresaForm" OnValidSubmit="OnValidSubmitAsync">
        <MudPaper Class="pa-8" Outlined="true">
            <ObjectGraphDataAnnotationsValidator />
            <DataAnnotationsValidator />
            <MudTextField Label="Nome do Curso"
                          HelperText="Campo obrigatório"
                          @bind-Value="InputModel.Nome"
                          For="@(() => InputModel.Nome)" />

            <MudTextField Label="Carga Horária Inicial"
                          HelperText="Campo Obrigatório"
                          Mask="@(new PatternMask("00"))"
                          @bind-Value="InputModel.CargaHorariaInicial"
                          For="@(() => InputModel.CargaHorariaInicial)" />

            <MudTextField Label="Carga Horária Periódica"
                          HelperText="Campo Obrigatório"
                          Mask="@(new PatternMask("00"))"
                          @bind-Value="InputModel.CargaHorariaPeriodico"
                          For="@(() => InputModel.CargaHorariaPeriodico)" />

            <MudTextField Label="Validade"
                          HelperText="Campo Obrigatório"
                          Mask="@(new PatternMask("00"))"
                          @bind-Value="InputModel.Validade"
                          For="@(() => InputModel.Validade)" />

            <MudFileUpload T="IBrowserFile" FilesChanged="UploadFiles">
                <ButtonTemplate>
                    <MudFab HtmlTag="label"
                            Color="Color.Secondary"
                            Icon="@Icons.Material.Filled.Image"
                            Label="Carregar Logo"
                            for="@context.Id"/>
                </ButtonTemplate>
            </MudFileUpload>
            @if (files != null)
            {
                <MudList>
                    @foreach (var file in files)
                    {
                        <MudListItem Icon="@Icons.Material.Filled.AttachFile" @key="@file">
                            @file.Name <code>@file.Size bytes</code>
                        </MudListItem>
                    }
                </MudList>
            }
        </MudPaper>

        <MudText Typo="Typo.h5" Class="mt-10 mb-6">Conteúdos Programáticos</MudText>

        <MudPaper Class="pa-8 mt-4" Outlined="true">
            <div class="d-flex flex-column align-items-start w-100 mb-4">
                <MudTextField Label="Assunto"
                              HelperText="Digite o assunto do conteúdo"
                              @bind-Value="Subject"
                              Class="mb-4"
                              FullWidth="true" />

                <MudTextField Label="Carga Horária"
                              HelperText="Digite a carga horária do conteúdo"
                              Mask="@(new PatternMask("00"))"
                              @bind-Value="HourQuantity"
                              Class="mb-4"
                              FullWidth="true" />
        
                <MudButton @onclick="AddConteudo" 
                           Variant="Variant.Filled"
                           Color="Color.Secondary"
                           Class="mb-4"
                           Size="Size.Small">
                    Adicionar
                </MudButton>
            </div>
    
            <MudContainer>
                <div class="d-flex flex-wrap">
                    @foreach (var conteudo in Conteudos)
                    {
                        <MudCard Class="m-2" Style="width: 300px;">
                            <MudCardContent>
                                <MudText Typo="Typo.h6" GutterBottom="true">Assunto:</MudText>
                                <MudText Typo="Typo.body1">@conteudo.Assunto</MudText>
                                <MudText Typo="Typo.h6" GutterBottom="true" Class="mt-2">Carga Horária:</MudText>
                                <MudText Typo="Typo.body1">@conteudo.CargaHoraria</MudText>
                            </MudCardContent>
                        </MudCard>
                    }
                </div>
        </MudContainer>
    </MudPaper>
        <MudButton ButtonType="ButtonType.Submit"
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   Class="mt-8 mb-10">
            Cadastrar
        </MudButton>
    </EditForm>
</MudContainer>