@page "/cursos"
@inherits GetAllCursosPage

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudText Typo="Typo.h4" Class="mt-10 mb-6">Cursos</MudText>
    <div class="d-flex justify-end">
        <MudButton Size="@Size.Medium" Href="/cursos/cadastrar" Color="@Color.Success" StartIcon="@Icons.Material.Filled.AddCircleOutline" Class="add-item-btn">Adicionar Curso</MudButton>
    </div>

    <MudDataGrid T="Curso" 
         Class="mt-1 mb-15" 
        Items="@Cursos" 
        Filterable="true"
        QuickFilter="@_quickFilter"
        Bordered="true">
        <Columns>
            <TemplateColumn StickyLeft="true" Filterable="false" Sortable="false">
                <CellTemplate>
                    <MudGrid Justify="@Justify.Center">
                        <MudIconButton 
                            Size="@Size.Small"
                            Icon="@Icons.Material.Filled.Edit" 
                            Color="Color.Info" 
                            Href="@($"/cursos/editar/{context.Item.Id}")" />
                    </MudGrid>
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x=>x.Nome" Title="Nome" />
            <PropertyColumn Property="x=>x.CargaHorariaInicial" Title="Carga Horária Inicial" />
            <PropertyColumn Property="x=>x.CargaHorariaPeriodico" Title="Carga Horária Periódico" />
            <PropertyColumn Property="x=>x.Validade" Title="Validade" />
            <PropertyColumn Property="x=>x.DataCriacao" Title="Data de Criação" />
            <TemplateColumn StickyRight="true" Filterable="false" Sortable="false">
                <CellTemplate>
                    <MudGrid Justify="@Justify.Center">
                        <MudIconButton Size="@Size.Small"
                            Icon="@Icons.Material.Filled.Delete"
                            Color="Color.Error"
                            OnClick="() => OnDeleteButtonActive(context.Item.Id, context.Item.Nome)" />
                    </MudGrid>
              </CellTemplate>
            </TemplateColumn>
        </Columns>
        <PagerContent>
            <MudDataGridPager T="@Curso" />
        </PagerContent>
    </MudDataGrid>

</MudContainer>