@page "/cursos"
@inherits GetAllCursosPage

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudText Typo="Typo.h4" Class="mt-10 mb-6">Cursos</MudText>
    <div class="d-flex justify-end">
        <MudButton Variant="Variant.Filled" Color="Color.Dark" StartIcon="@Icons.TwoTone.Add" Href="/cursos/cadastrar">
            Novo Curso    
        </MudButton>
    </div>

    <MudDataGrid T="Curso" 
        ReadOnly="@_readOnly" 
        EditMode="@(_isCellEditMode ? DataGridEditMode.Cell : DataGridEditMode.Form)" 
        StartedEditingItem="@StartEditItem" CommittedItemChanges="@CommitedEditItem" 
        CanceledEditingItem="@CanceledEditItem" 
        EditTrigger="@(_editTriggerRowClick ? DataGridEditTrigger.OnRowClick : DataGridEditTrigger.Manual)" 
        Class="mt-1 mb-15" 
        Items="@Cursos" 
        Filterable="true" 
        QuickFilter="@_quickFilter">
        <Columns>
            <PropertyColumn Property="x=>x.Nome" Title="Nome" />
            <PropertyColumn Property="x=>x.Logo" Title="Logo" />
            <PropertyColumn Property="x=>x.CargaHorariaInicial" Title="Carga Horária Inicial" />
            <PropertyColumn Property="x=>x.CargaHorariaPeriodico" Title="Carga Horária Periódico" />
            <PropertyColumn Property="x=>x.Validade" Title="Validade" />
            <PropertyColumn Property="x=>x.DataCriacao" Title="Data de Criação" />
            <TemplateColumn Hidden="@(_isCellEditMode || _readOnly || _editTriggerRowClick)">
                <CellTemplate>
                    <MudIconButton 
                        Size="@Size.Small"
                        Icon="@Icons.Material.Filled.Edit" 
                        Color="Color.Info" 
                        OnClick="@context.Actions.StartEditingItemAsync" />
                </CellTemplate>
            </TemplateColumn>
            <TemplateColumn>
                <CellTemplate>
                        <MudIconButton 
                            Size="@Size.Small"
                            Icon="@Icons.Material.Filled.Delete" 
                            Color="Color.Error" 
                            OnClick="() => OnDeleteButtonActive(context.Item.Id, context.Item.Nome)" />
                </CellTemplate>
            </TemplateColumn>
        </Columns>
        <PagerContent>
            <MudDataGridPager T="@Curso" />
        </PagerContent>
    </MudDataGrid>

</MudContainer>